<main>
	<h1>{{title}}</h1>
	<h3>{{message}}</h3>
	<ul>
		<li><a class="get-posts" href="/getCars">Get Cars</a> </li>

		<li><a href="/api/{{id}}">Get One Car</a> </li>
	</ul>

	<button id="N23" class="deleteButton" >DELETING</button>

	<button id="F55" class="getButton" >get XHR data</button>
	<button id="F56" class="getButton" >get XHR data</button>
	<button id="R58" class="getButton" >get XHR data</button>
	<br><br>
	
	<button id="N23" class="postButton" >POST DATA</button>

</main>